.dashboard-card {
    border-radius: 14px;
    color: #fff;
    padding: 28px;
    min-height: 150px;   /* TO HƠN */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.dashboard-card .card-title {
    font-size: 18px;    /* chữ to hơn */
    font-weight: 500;
}

.dashboard-card .card-number {
    font-size: 44px;    /* số to hơn */
    font-weight: 700;
    margin-top: 14px;
}


/* Gradient giống admin template */
.bg-gradient-primary {
    background: linear-gradient(45deg, #4e73df, #224abe);
}

.bg-gradient-success {
    background: linear-gradient(45deg, #1cc88a, #17a673);
}

.bg-gradient-warning {
    background: linear-gradient(45deg, #f6c23e, #dda20a);
}

.bg-gradient-danger {
    background: linear-gradient(45deg, #e74a3b, #be2617);
}
